* {
    margin: 0;
    padding: 0;
    --blue: #148eff;
    --offwhite: #f8f8ff;
    --offblack: #121214;
    --text: #f5f5f5;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--offblack);
    height: 60px;
    align-items: center;
    padding: 10px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--text);
}

.logo {
    color: var(--text);
}

.navlinks {
    
}

.bodyContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 70vh;
    width: 80%;
    margin: auto;
    background-color: var(--offwhite);
}

.pageContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0px;
    margin: auto;
    margin-top: 10vh;
    height: 60%;
    width: 80%;
    padding: 25px;
    align-items: center;
}

textarea {
    width: 50vw;
    height: 20vh;
}

.btn {
    width: 50px;
    height: 25px;
}

.footer {
    background-color: var(--offblack);
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
}

.textResponse {
    flex-grow: 1;
    flex-shrink: 0;
}
